  @mixin button {
    width: 155px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(163, 162, 162, 0.32);
    box-shadow:none;
    font-size: 14px;
    font-weight: 500;
  }

  * {
    font-family: Roboto, sans-serif;

    box-sizing: border-box;
  }

  header {

    margin-top: -10px;
    margin-left: -10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    svg {

      width: 35%;
      margin-left: 100px;
    }
    ul {
      margin-left: -20px;
      font-size: 14px;
      width: 100%;
      display: flex;
      list-style: none;


      justify-content:space-evenly ;
      & li:nth-child(4) a {
        color: #00c26d;
      }
      li {
        display: flex;
        align-items: center;
      }
      & li:nth-child(3)::after{
        content:"Yeni";
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 37px;
        height: 20px;
        border-radius: 70px;
        font-size: 12px;
        color: white;
        background-color: #00c26d;
      }

      a {
        text-decoration: none;
        color: black;

        &:hover {
          color: #00c26d;
        }
      }
    }

    button:nth-of-type(1) {
      @include button;
      background-color: white;
      margin-right: 15px;
      margin-left: 9%;

      &:hover {
        background-color: #f0f0f0;
      }
    }
    button:nth-of-type(2) {
      @include button;
      background-color: #00c26d;
      color: white;
      margin-right: 9%;
      &:hover {
        background-color: #02d076;
      }
    }
  }

  nav {
    margin-left: 50px;

    ul {
      display: flex;
      list-style: none;
      & li:nth-of-type(1) {
        color: gray;
      }

      & li:nth-of-type(2) span {
        color: gray;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  main {
    margin-top: -30px;
    margin-left: 90px;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-size: 60px;
      }
      span {
        margin-right: 9%;
      }
    }
    .firstblog {
      display: flex;
      width: 91%;
      background-color: #f6f6f6;
      border-radius: 5px;

      img {
       border-top-left-radius: 5px;
       border-bottom-left-radius: 5px;
      }
      div {
margin-left: 25px;

        span {
          display: inline-block;
          margin-top: 150px;
          margin-left: 475px;
          color:#00c26d;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }

    }
    .section-more {
      h3 {
        font-size: 48px;
        margin-top: 20px;
      }

      .cards {
        display: flex;
        width: 91% ;
        flex-wrap: wrap;
        gap: 25px;
        .card {
          position: relative;
          width: 380px;
          height: 560px;
          border-radius: 5px;
          border: 1px solid rgba(128, 128, 128, 0.27);

        img {
  border-radius: 5px;
  width: 340px;
  height: 200px;
  margin: 17px;
  border: 1px solid gray;
}

        h4 {
          font-size: 24px;
          margin-top: 10px;
          margin-left: 17px;
          width: 85%;
          }

          p {
            margin-left: 17px;

          }
          .info {
            width: 334px;
          margin-top: -20px;
            letter-spacing: 0.15px;
            line-height: 23px;

         }
          .date {
            margin-top: 10px;
          }
          span {
            position: absolute;
            display: inline-block;
            cursor: pointer;
left: 300px;
         top: -70px;
            color: #00c26d;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .date {
    color: gray;
  }