* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.navbar {
  display: none;
}

header {
  margin-top: -10px;
  margin-left: -10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
  width: 100vw;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
header .svg-cont {
  width: 30%;
  margin-left: 100px;
}
header .desktop-nav {
  margin-left: -20px;
  font-size: 14px;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
header .desktop-nav li:nth-child(4) a {
  color: #00c26d;
}
header .desktop-nav li {
  display: flex;
  align-items: center;
}
header .desktop-nav li:nth-child(3)::after {
  content: "Yeni";
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 20px;
  border-radius: 70px;
  font-size: 12px;
  color: white;
  background-color: #00c26d;
}
header .desktop-nav a {
  text-decoration: none;
  color: black;
}
header .desktop-nav a:hover {
  color: #00c26d;
}
header button:nth-of-type(1) {
  width: 9.688rem;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(163, 162, 162, 0.32);
  box-shadow: none;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  margin-right: 15px;
  margin-left: 9%;
}
header button:nth-of-type(1):hover {
  background-color: #f0f0f0;
}
header button:nth-of-type(2) {
  width: 9.688rem;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(163, 162, 162, 0.32);
  box-shadow: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #00c26d;
  color: white;
  margin-right: 9%;
}
header button:nth-of-type(2):hover {
  background-color: #02d076;
}

nav {
  margin-left: 50px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul .gray {
  color: gray;
}
nav ul li:nth-of-type(2) span {
  color: gray;
  margin-left: 10px;
  margin-right: 10px;
}

main {
  margin-top: -30px;
  margin-left: 90px;
  margin-bottom: 30px;
}
main .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .title h1 {
  font-size: 60px;
}
main .title span {
  margin-right: 9%;
}
main .firstblog {
  display: flex;
  width: 91%;
  background-color: #f6f6f6;
  border-radius: 5px;
}
main .firstblog img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
main .firstblog div {
  margin-left: 25px;
}
main .firstblog div span {
  display: inline-block;
  margin-top: 150px;
  margin-left: 475px;
  color: #00c26d;
  font-size: 14px;
  cursor: pointer;
}
main .firstblog div span:hover {
  text-decoration: underline;
}
main .section-more h3 {
  font-size: 48px;
  margin-top: 20px;
}
main .section-more .cards {
  display: flex;
  width: 91%;
  flex-wrap: wrap;
  gap: 25px;
  z-index: -1;
}
main .section-more .cards .card {
  position: relative;
  width: 380px;
  height: 560px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.27);
}
main .section-more .cards .card img {
  border-radius: 5px;
  width: 340px;
  height: 200px;
  margin: 17px;
  border: 1px solid gray;
}
main .section-more .cards .card h4 {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 17px;
  width: 85%;
}
main .section-more .cards .card p {
  margin-left: 17px;
}
main .section-more .cards .card .info {
  width: 334px;
  margin-top: -20px;
  letter-spacing: 0.15px;
  line-height: 23px;
}
main .section-more .cards .card .date {
  margin-top: 10px;
}
main .section-more .cards .card span {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  left: 300px;
  bottom: 20px;
  color: #00c26d;
}
main .section-more .cards .card span:hover {
  text-decoration: underline;
}

.date {
  color: gray;
}

footer {
  width: 100vw;
  height: 500px;
  margin-bottom: -10px;
  margin-left: -10px;
  background-color: #f6f6f6;
  font-size: 14px;
  font-weight: 500;
}
footer nav {
  display: flex;
  flex-direction: row;
}
footer nav ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;
}
footer nav ul span {
  color: gray;
  margin-bottom: 10px;
}
footer nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}
footer .social-media {
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  gap: 10px;
}
footer .social-media div {
  margin-top: -75px;
  display: flex;
  gap: 10px;
}
footer .social-media div svg {
  cursor: pointer;
}
footer .techlogo {
  margin-top: 30px;
  margin-left: 100px;
}
footer hr {
  width: 1250px;
  border-color: rgba(128, 128, 128, 0.15);
}
footer .logo-alttext {
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
}
footer .below-footer {
  margin-left: 90px;
  margin-top: 20px;
  display: flex;
}
footer .below-footer .lang span {
  font-size: 15px;
}
footer .below-footer .lang span:nth-child(1) {
  margin-right: 10px;
}
footer .below-footer .lang span:nth-child(3) {
  color: gray;
  margin-left: 10px;
}
footer .below-footer .copyright {
  font-size: 12px;
  color: gray;
  margin-left: 820px;
}
footer .below-footer .copyright span:nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}
footer .iskur {
  margin-left: 100px;
  margin-top: 25px;
  display: flex;
}
footer .iskur img {
  margin-top: 10px;
}
footer .iskur p {
  width: 80%;
  margin-left: 10px;
  font-size: 9px;
  color: gray;
}

@media screen and (max-width: 420px) {
  header {
    position: relative;
    width: 100vw;
  }
  header .svg-cont {
    width: 38%;
    margin-top: 10px;
    margin-left: 65px;
  }
  header .desktop-nav {
    display: none;
  }
  header button:nth-of-type(1) {
    width: 90px;
    height: 35px;
    margin-left: 90px;
    margin-top: 10px;
  }
  header button:nth-of-type(2) {
    display: none;
  }
  .navbar {
    display: contents;
    z-index: 1;
  }
  .navbar .nav-container li {
    list-style: none;
  }
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1rem;
  }
  .navbar .nav-container a:hover {
    font-weight: bolder;
  }
  .nav-container {
    position: relative;
    height: 1px;
    z-index: 1;
  }
  .nav-container .checkbox {
    position: absolute;
    display: inline;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .nav-container .hamburger-lines {
    height: 20px;
    width: 26px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-container .hamburger-lines .line {
    height: 3px;
    border-radius: 10px;
    background: #000000;
  }
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    margin-top: -10px;
    padding-top: 120px;
    background-color: white;
    height: 105vh;
    width: 105vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    gap: 10px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    margin-left: -50px;
    font-size: 0.5rem;
    font-weight: 500;
  }
  .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  body nav {
    margin-left: -26px;
  }
  main .title {
    margin-left: -370px;
    margin-bottom: 30px;
    flex-direction: column;
  }
  main .title h1 {
    font-weight: 500;
    font-size: 2.375rem;
  }
  main .title span {
    margin-left: 227px;
  }
  main .firstblog {
    margin-left: -75px;
    width: 360px;
    height: 450px;
    flex-direction: column;
  }
  main .firstblog img {
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    width: 360px;
    height: 250px;
  }
  main .firstblog div h2 {
    font-size: 1.25rem;
  }
  main .firstblog div p:nth-of-type(1) {
    width: 330px;
  }
  main .firstblog div span {
    margin-top: 0;
    margin-left: 250px;
  }
  main .section-more {
    margin-left: -70px;
  }
  main .section-more h3 {
    font-size: 2rem;
  }
  main .section-more .cards .card {
    width: 360px;
    height: 450px;
  }
  main .section-more .cards .card h4 {
    font-size: 1.25rem;
  }
  main .section-more .cards .card img {
    width: 335px;
    margin: 12px;
  }
  main .section-more .cards .card span {
    margin-left: -20px;
  }
  footer {
    height: 1300px;
  }
  footer nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer nav ul {
    align-items: center;
    justify-content: center;
    width: 300px;
  }
  footer nav .social-media {
    margin-top: 20px;
  }
  footer nav .social-media div {
    margin-top: 10px;
  }
  footer .techlogo {
    margin-left: 140px;
  }
  footer .logo-alttext {
    margin-left: 110px;
  }
  footer .below-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 20px;
  }
  footer .below-footer .copyright {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  footer hr {
    width: 90%;
  }
  footer .iskur {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .iskur img {
    margin-left: 80px;
    width: 50px;
    height: 50px;
  }
  footer .iskur p {
    margin-left: -75px;
    width: 360px;
    line-height: 1.5;
  }
}

/*# sourceMappingURL=style.css.map */
